body{
    background-color: grey;
}
h1,h2{
    color: rgb(70, 129, 255);
    margin: 10px;
   
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  50px;
    
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  30px;
    color: rgb(70, 181, 255);
}


.Pre{
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    list-style: none;
}

li {
   
    font-family: monospace;
    margin-left: 32px;
    color:antiquewhite;
  
}

li.ul1{
    margin-left: 0px;
}
li.ul1::before {
    content: "* ";
    color: antiquewhite;
   
}
footer {
    margin-top: 150px;
    background-color: rgb(194, 194, 194);
}

.column {
    position: fixed;
    right: 8px;
    bottom: 18px;
    display: flex;
    flex-wrap: wrap;

}


.movies_section ol {
    display: flex;
    flex-direction: column-reverse;
}

.mood_section {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.mood_section .mood_images {
    float: left;
    width: 100%;
    display: inline-flex;
}

.mood_section .mood_images div {
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mood_section .mood_images img {
    width: 100%;
    max-width: 700px;
    height: 315px;
}

.mood_section .sad div,
.mood_section .happy div {
    border: solid 2px black;
}

.mood_section span {
    padding: 10px;
    width: 50px;
    text-align: center;
    color: #ffffff;
}

.mood_section .happiest {
    background: #3CB371;
}

.mood_section .saddiest {
    background: #CD5C5C;
}
